    {% extends 'base.html' %}
    {% block content %}
    <h1>동아리 등록</h1>
    <br>
    <form action="{%url 'add' %}" method="POST">
        {% csrf_token %}
        <p>이름: <input type="text" name="name"></p>
        <p>소개: <input type="text" name="detail"></p>
        <p>인원 수: <input type="text" name="members"></p>
        <div style="float: left;">
            <button type="submit">작성하기</button>
            <a href="{%url 'home' %}"><button style="margin-top: 10px;">홈으로</button></a>
        </div>
    </form>
    {% endblock %}